version: "3.9"

services:
  db:
    image: postgres:15
    container_name: uvc_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: uvc_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./backend/staticfiles:/var/www/static
      - ./backend/media:/var/www/media

  nginx:
    build: ./frontend
    container_name: uvc_nginx
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./backend/staticfiles:/var/www/static
      - ./backend/media:/var/www/media

volumes:
  pgdata:
