.tab-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tab-buttons button.active {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

/* .fade-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  display: none;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none; 
}

.fade-tab.show {
  opacity: 1;
  display: block;
  visibility: visible;
  pointer-events: auto;
} */

.fade-tab {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0s 0.4s, height 0.4s ease;
}

.fade-tab.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
  transition: opacity 0.4s ease, visibility 0s, height 0.4s ease;
}

.trending-now {
  background-color: rgb(238, 238, 238);
  /* min-height: 790px; */
}

.multicarousel-btn {
  margin-left: 60px;
  margin-top: 15px;
}
